fastapi==0.110.0
uvicorn[standard]==0.27.1
python-arango==7.9.0
dynaconf==3.2.4
python-dotenv==1.0.1
passlib[bcrypt]==1.7.4
bcrypt<4.0.0
python-multipart==0.0.9
python-jose[cryptography]>=3.3.0
