name: "7. App is ready"

on:
  push:
    branches:
      - main

jobs:
  check_app_is_ready:
    name: "Проверка наличия тега 1.0 и клиента"
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4
        name: Check out current commit
        with:
          fetch-depth: 0

      - name: Build docker-compose
        run: .github/workflows/scripts/7_app_is_ready.sh build

      - name: Run docker-compose
        run: .github/workflows/scripts/7_app_is_ready.sh run

      - name: Check web client root page
        run: .github/workflows/scripts/7_app_is_ready.sh check-web

      - name: check
        run: .github/workflows/scripts/7_app_is_ready.sh check-tag
